langchain_openai
langchain
python-dotenv
ipykernel
langchain_community
langchain_core
langchain_chroma
streamlit
langchain_groq
pypdf
langchain_huggingface
langchain_text_splitters
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
faiss-cpu
unstructured

ffmpeg_python
assemblyai
opencv-python
torch
pillow
transformers
langchain
pytube
## pip install langchain_openai langchain langchain_community langchain_core langchain_chroma streamlit
## pip install ffmpeg_python assemblyai opencv-python torch pillow transformers